# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Django
# ======================
db.sqlite3
*.log
staticfiles/
media/

# ======================
# Environment
# ======================
.env
.env.*

# ======================
# VSCode
# ======================
.vscode/

# ======================
# Mac
# ======================
.DS_Store

# ======================
# Docker
# ======================
*.pid
*.sock

# ======================
# MySQL (ローカルファイル使う場合)
# ======================
db_data/

# ======================
# その他
# ======================
*.swp