{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>食材登録</title>
</head>
<body>

<h1>食材登録</h1> 

<!-- カテゴリ -->
<secret id="category-select">

    <option value="">
        カテゴリ選択
    </option>
</secret> 

<br><br>

<!-- 新カテゴリ -->
<input type="text" id="new-category-input" placeholder="新カテゴリ" style="display:none"> 

<br><br>

<!-- 食材 -->
<select id="food-select">

    <option value="">
        食材選択
    </option>
</select>

<br><br>

<!-- 新食材 -->
<input type="text" id="new-food-input" placeholder="新食材" style="display:none">

<script src="{% static 'js/register.js' %}"></script>

</body>
</html>